<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MIC.Properties.Settings.MICConnectionString" connectionString="Data Source=13LBQT2;Initial Catalog=MIC;User ID=sa;Password=Fabiola1503"
      providerName="System.Data.SqlClient" />
    <add name="localhost_MIC_Connection" connectionString="XpoProvider=MSSqlServer;data source=9SSCBV2\SQL_9SSCBV2;user id=;password=;initial catalog=MIC;Persist Security Info=true" />
    <add name="localhost_MIC_Connection 1" connectionString="XpoProvider=MSSqlServer;data source=9SSCBV2\SQL_9SSCBV2;user id=sa;password=G3n3R@c10n2023&amp;;initial catalog=MIC;Persist Security Info=true" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" connectionStringName="DefaultConnection" credentialsProvider="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" connectionStringName="DefaultConnection" />
      </providers>
    </roleManager>
  </system.web>
</configuration>